.profile__edit-gallery-button {
  grid-area: add-button;
  padding: 0;
  width: 150px;
  height: 50px;
  align-self: center;
  justify-self: end;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
  position: relative;
}

.profile__edit-gallery-button::before {
  position: absolute;
  content: '';
  border-top: 11px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 11px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(90deg);
  top: 25%;
}

.profile__edit-gallery-button::after {
  position: absolute;
  content: '';
  border-top: 11px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 11px solid #fff;
  border-left: 1px solid #fff;
  top: 25%;
}
