.popup__container {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 560px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
