.profile {
  min-height: 120px;
  padding-top: 40px;
  padding-bottom: 51px;
  display: grid;
  grid-template-columns: 120px fit-content(100px) max-content minmax(150px, 1fr);
  grid-template-rows: 120px;
  grid-template-areas:
  "avatar info edit-button add-button";
  align-items: center;
}
