.profile {
  max-width: 880px;
  min-height: 120px;
  display: grid;
  grid-template-columns: 120px fit-content(500px) max-content minmax(150px, 1fr);
  grid-template-rows: 120px;
  grid-template-areas:
  "avatar info edit-button add-button";
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 660px) {
  .profile {
    grid-template-columns: calc(282px - 18px) 18px;
    grid-template-rows: 120px minmax(min-content, max-content) 50px;
    grid-template-areas:
    "avatar avatar"
    "info edit-button"
    "add-button add-button";
    justify-items: center;
  }
}
