.profile__edit-profile-button {
  display: inline-block; /* для возможности позиционирвания по вертикали */
  vertical-align: 9px; /* позиционирование по вертикали */
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin-left: 18px;
  background: #000 url(../../../images/change_profile.svg) center no-repeat;
  background-size: 50%;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .profile__edit-profile-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
