.profile__edit-profile-button {
  grid-area: edit-button;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin: 37px 18px 0 18px;
  align-self: start;
  background: #000 url(../../../images/change_profile.svg) center no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .profile__edit-profile-button {
    margin: 0;
    margin-top: 16px;
    justify-self: start;
  }
}
