.main {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 51px;
  padding:40px 2vw 0;
}

@media screen and (max-width: 660px) {
  .main {
    padding-top: 42px;
    row-gap: 36px;
  }
}
