.gallery__like {
  grid-area: like;
  width: 22px;
  height: 19px;
  align-self: center;
  justify-self: center;
  background-image: url(../../../images/like_disable.svg);
  cursor: pointer;
  border: none;
}
