.profile__vocation {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.21;
  white-space: nowrap;
}

@media screen and (max-width: 660px) {
  .profile__vocation {
    font-size: 14px;
    text-align: center;
    margin-bottom: 36px;
    margin-left: 7px;
  }
}
