.profile__vocation {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.21;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

@media screen and (max-width: 660px) {
  .profile__vocation {
    font-size: 14px;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 4px;
  }
}
