.popup__close-button {
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: calc(100% + 8px);
  left: calc(100% + 8px);;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
}

.popup__close-button::before,
.popup__close-button::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 21px);
  border-top: 1px solid #fff;
  border-right: 21px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 21px solid #fff;
}

.popup__close-button::before {
  transform: rotate(-45deg);
}

.popup__close-button::after {
  transform: rotate(45deg);
}
