.popup__save-button {
  margin: 0;
  border: none;
  width: 358px;
  height: 50px;
  background: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  cursor: pointer;
 }
