/* добавление normalize.css */
@import url(../vendor/normalize.css);

/* шрифты*/
@import url(../fonts/fonts.css);

/* стиль всей страницы */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__element/page__element.css);

/*стиль header*/
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);

/*стиль profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-profile-button/profile__edit-profile-button.css);
@import url(../blocks/profile/__vocation/profile__vocation.css);
@import url(../blocks/profile/__edit-gallery-button/profile__edit-gallery-button.css);

/*стиль gallery*/
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__list/gallery__list.css);
@import url(../blocks/gallery/__element/gallery__element.css);
@import url(../blocks/gallery/__figure/gallery__figure.css);
@import url(../blocks/gallery/__photo/gallery__photo.css);
@import url(../blocks/gallery/__figcaption/gallery__figcaption.css);
@import url(../blocks/gallery/__like/gallery__like.css);

/*стиль footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__info/footer__info.css);


/*стиль */
@import url(../blocks/);
@import url(../blocks/);
@import url(../blocks/);
@import url(../blocks/);

/* * {
  border: 1px solid red;
}
 */
