/* добавление normalize.css */
@import url(../vendor/normalize.css);

/* шрифты*/
@import url(../fonts/fonts.css);

/* стиль всей страницы */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__element/page__element.css);

/*стиль header*/
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);

/*стиль profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-profile-button/profile__edit-profile-button.css);
@import url(../blocks/profile/__vocation/profile__vocation.css);
@import url(../blocks/profile/__edit-gallery-button/profile__edit-gallery-button.css);

/*стиль */
@import url(../blocks/);

/* * {
  border: 1px solid red;
}
 */

.gallery__list {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2, minmax(361px, auto));
  list-style: none;
 }

.gallery__element {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

 }

.gallery__figure {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 62px;
  grid-template-rows: 282px 1fr;
  grid-template-areas:
  "photo photo"
  "figcaption like";
  row-gap: 25px;
 }

 .gallery__photo {
  grid-area: photo;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery__figcaption {
  grid-area: figcaption;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: black;
  margin: 0;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__like {
  grid-area: like;
  width: 22px;
  height: 19px;
  align-self: center;
  justify-self: center;
  background-image: url(../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  padding: 67px 0 60px 0;
}

.footer__info {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}
