.profile__info {
  grid-area: info;
  height: 100%;
  white-space: nowrap;
  width: 40vw;
  max-width: 500px;
}

@media screen and (max-width: 660px) {
  .profile__info {
    width: 90vw;
    max-width: 210px;
  }
}

